  <table>
    <thead>
      <th>no.</th>
      <th>id</th>
      <th>name</th>
      <th>mobile</th>
    </thead>
    <tbody>
      @for (user of users(); track $index) {
        <tr>
          <td>{{$index}}</td>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.role}}</td>
    </tr>
    
  

  }@empty {
    <div>no any data</div>
  }

  
  
</tbody>
</table>
@if (user.name == 'Munees') {
  <div>its {{user.name}} </div>
}@else if(user.name == 'munees'){
  <div>munees not in here</div>
}

@switch (user.role) {
  @case ('mean stack') {
    <div>developer</div>
  }
  @case ('means stack') {
    <div> dd developer</div>
  }
  @case ('Mean stack develepor') {
    <div> hh developer</div>
  }
  @default {
    <div>no any role</div>
  }
}

@defer(on viewport) {
  <div>defer</div>
}
@loading (after 150ms; minimum 150ms) {
  <div>loading...</div>
}
@placeholder (minimum 150ms){
  <div>placeholder</div>
}
@error {
  <div>error</div>
}
 

<router-outlet></router-outlet>